body {
  background-color: hsl(222, 26%, 31%);
  padding: 30px;
  margin: 0;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  width: 60vw;
  max-width: 500px;
  min-width: 350px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* header.html */
h2 {
  padding: 0;
  margin: 0;
  text-transform: lowercase;
}

p {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.theme-title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 25px 5px 0;
}

.theme-title > p {
  font-size: 12px;
}

.theme-style {
  display: flex;
  flex-direction: row;
}

.theme-toggle {
  background-color: hsl(223, 31%, 20%);
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  position: relative;
}

.theme-toggle-btn {
  background-color: hsl(223, 31%, 20%);
  border-radius: 25px;
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle-point {
  position: absolute;
  background-color: hsl(6, 63%, 50%);
  width: 15px;
  height: 15px;
  border-radius: 25px;
  margin: 5px;
  border: none;
  left: 0;
  z-index: 10;
}

.toggle-values {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
  padding: 3px 0;
}

/* result.html */
.result-layout {
  background-color: hsl(224, 36%, 15%);
  color: hsl(0, 0%, 100%);
  height: auto;
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.result {
  padding: 25px;
  font-size: 38px;
  overflow: hidden;
  word-wrap: break-word;
}

.grid-layout {
  background-color: hsl(223, 31%, 20%);
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 25px;
  border-radius: 10px 10px 0 0;
}

.main-key,
.grid-layout-2 > button {
  box-shadow: 0 4px hsl(28, 16%, 65%);
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  font-weight: 700;
  cursor: pointer;
  font-size: 32px;
}
.main-key:focus,
.grid-layout-2 > button:focus {
  box-shadow: 0 3px hsl(0, 0%, 40%), 0px 0px 5px 4px hsl(0, 2%, 66%) inset;
  background-color: hsl(30, 25%, 85%);
}

#del-btn,
#reset-btn {
  font-size: 22px;
  background-color: hsl(224, 21%, 43%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 4px hsl(224, 28%, 35%);
  cursor: pointer;
}
#del-btn:focus,
#reset-btn:focus {
  box-shadow: 0 3px hsl(222, 29%, 29%), 0px 0px 5px 4px hsl(221, 28%, 38%) inset;
  background-color: hsl(225, 21%, 45%);
}

#result-btn {
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 4px hsl(6, 70%, 34%);
}
#result-btn:active {
  background-color: hsl(6, 83%, 45%);
}

.grid-layout-2 {
  background-color: hsl(223, 31%, 20%);
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  padding: 0 25px 30px 25px;
}

.grid {
  border: none;
  text-align: center;
  font-size: 32px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .result {
    padding: 20px;
    font-size: 32px;
  }

  .grid-layout {
    gap: 12px;
    padding: 20px;
  }

  .grid-layout-2 {
    gap: 12px;
    padding: 0 20px 30px 20px;
  }

  .grid {
    font-size: 28px;
    padding: 10px 8px;
  }

  #del-btn,
  #reset-btn {
    font-size: 18px;
  }

  .result-layout {
    margin: 20px 0;
  }
}
